
.ipynb_checkpoints/condanotebook-checkpoint.ipynb
.ipynb_checkpoints/distribution-checkpoint.py
.ipynb_checkpoints/pf2 compare-checkpoint.html
.ipynb_checkpoints/pf2calc-checkpoint.py
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
__pycache__/distribution.cpython-37.pyc
__pycache__/pf2calc.cpython-37.pyc
__pycache__/distribution.cpython-37.pyc
*.pyc
condanotebook.ipynb
Untitled1.ipynb
condanotebook.ipynb
